.App {
  display: flex;
  align-items: center;
  flex-direction: column;

  .form-container {
    .form-input {
      text-align: left;
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  }

}

.App-link {
  color: #61dafb;
}

